p {
  color: steelblue ;
}

body {
	
}

h2{
	font-weight: bold;
}
img {
  border: 5px solid #555;
  height:50%;
  width:50%;
}


.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  background-color: darkcyan;
}

.navbar a:hover {
  background-color: mediumturquoise;
}

.active {
  background-color: DarkCyan;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
