<!--
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/style.css">
-->

{% extends "layout.html" %}

{% set active_page = "page2" %}

{% block title %}Popularity{% endblock %}

{% block content %}
   

<br>
<h2>Out of the 5 options available, choose one to see what the most popular game of the year was!</h2>
<br>

<form action="/pop">
  <label for="cars">Choose a year:</label>
  <select name="year" id="years">
    <option value="2004" {% if year == 2004 %}selected{% endif %}>2004</option>
    <option value="2005"{% if year == 2005 %}selected{% endif %}>2005</option>
    <option value="2006"{% if year == 2006 %}selected{% endif %}>2006</option>
    <option value="2007" {% if year == 2007 %}selected{% endif %}>2007</option>
	<option value="2008"{% if year == 2008 %}selected{% endif %}>2008</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>

<br>
{{ganam}}

<br> 
<br>
<h5><a href="/all"> << Previous Page </a></h5>
<h5><a href="/avg">Next Page >> </a></h5>
<!--
<ol>
<p> {%- for number in popg %}</p>
<li> {{number}} </li>
{% endfor %}
</ol>
--> 
{% endblock %}